<app-feature-header 
  [title]="'Kreator e-maili'"
  [description]="'Wybierz styl, którego potrzebujesz i napisz krótko, co ma zawierać mail.'" />

  @if (credits()<1) {
    <app-credits-error />
}

<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" #formDirective="ngForm" [class.hide]="responseData()">
    <div class="wrapper-all-chips flex">
        <div class="wrapper-chips-list flex">
            <mat-chip-listbox 
            class="mat-mdc-chip-set-stacked tight-chips" 
            formControlName="styleTone"
            >
                @for (tone of tones; track $index) {
                        <mat-chip-option
                        [selected]="$index===0"
                        [value]="tone.id"
                        >{{tone.label}}</mat-chip-option>
                    }
            </mat-chip-listbox>
            <mat-chip-listbox 
                class="mat-mdc-chip-set-stacked tight-chips" 
                formControlName="styleLength"
                >
                @for (length of lenghts; track $index) {
                        <mat-chip-option
                        [selected]="$index===0"
                        [value]="length.id"
                        >{{length.label}}</mat-chip-option>
                    }
            </mat-chip-listbox>
        </div>
        <div class="wrapper-chips-list flex tight-chips">
            <mat-chip-listbox 
            class="mat-mdc-chip-set-stacked" 
            formControlName="stylePurpose"
            >
                @for (purpose of purposes; track $index) {
                        <mat-chip-option
                        [selected]="$index===0"
                        [value]="purpose.id"
                        >{{purpose.label}}</mat-chip-option>
                    }
            </mat-chip-listbox>
            <mat-chip-listbox 
                class="mat-mdc-chip-set-stacked tight-chips" 
                formControlName="styleIndustry"
                >
                @for (industry of industries; track $index) {
                        <mat-chip-option
                        [selected]="$index===0"
                        [value]="industry.id"
                        >{{industry.label}}</mat-chip-option>
                    }
            </mat-chip-listbox>
        </div>
    </div>
     <mat-form-field 
        appearance="outline"
        >
        <mat-label><span class="label-field">Napisz co ma zawierać, do kogo go chcesz skierować, np: zaproszenie, spotkanie biznesowe, prezentacja nowych produktów, itp.</span></mat-label>
        <textarea
            formControlName="userQuery"
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="3"></textarea>
        @if(isLoading()){
            <div class="feature-loader">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
        }
        <div style="text-align: right;">
            <button 
                matMiniFab aria-label="Submit button"
                type="submit"
                [disabled]="dataForm.invalid || isLoading() || credits()<1">
                <mat-icon>send</mat-icon>
            </button>
        </div> 
     </mat-form-field>    
</form>
<div class="response" [class.hide]="!responseData()">
      @if (responseData()) {
      <div class="parameters-wrapper">
        <div class="response-header-wrapper flex">
          <h6>Parametry e-maila</h6>
          <button matButton (click)="startNewQuery()">
            <mat-icon>add</mat-icon>
            Następne
          </button>
        </div>
        <div class="feedback-info">
          <mat-list class="tight-list">
            <mat-list-item>
              <span matListItemTitle class="query-resume">Ton komunikacji w mailu: <span>{{ choosenStyle()!.tone }}</span></span
              >
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle  class="query-resume">Długość i szczegółowość maila:<span
                >{{ choosenStyle()!.length }}</span
              ></span
              >
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle  class="query-resume">Cel biznesowy<span>{{ choosenStyle()!.purpose }}</span></span
              >
            </mat-list-item>
            <mat-list-item>
              <span class="query-resume">Kontekst biznesowy::<span>{{ choosenStyle()!.industry }}</span></span
              >
            </mat-list-item>
            <mat-list-item lines="3">
              <span matListItemTitle class="description">Opis maila:</span>
              {{ userRequest()! }}
            </mat-list-item>
          </mat-list>
        </div>
        </div>
        <div class="response-wrapper">
          <div
            class="flex response-header"
          >
            <h6>Propozycja treści maila</h6>
            @if (!copied()) {
              <button matIconButton (click)="copyToClipboard()">
                <mat-icon>content_copy</mat-icon>
              </button>
            } @else {
            <div>
              <span class="copied">skopiowane</span>
              <button matIconButton disabled>
                <mat-icon>check</mat-icon>
              </button>
            </div>
            }
          </div>

          <div class="feedback-content">
            <div class="email-title">
                <span>Tytuł maila: </span> 
                <span>{{ responseData()!.email_title }}</span>
            </div>
          <markdown [data]="responseData()?.output_MD"></markdown>
          </div>
        </div>
      }
  </div>
