form {
    max-height: 500px;
    opacity: 1;
    margin-top: 1rem;
}

mat-error {
    color: var(--logo-orange);
    width: 90%;
    min-height: 2rem;
    font-size: smaller;
    display: block;
    margin: 0.5rem auto 1rem auto;
}
mat-form-field, .style-alert {
    width: 90%;
    margin: 0 5%;
}
.style-alert {
    margin-bottom: 0.5rem;
    font-weight: 100;
}
.select-input {
    flex: 1;
}
.label-field {
  font-size: 12px !important;
}
mat-form-field {
    position: relative;
}
.response {
    padding: 0 1rem;
    margin: 0 5%;
    display: flex;
    gap: 2rem;
    opacity: 1;
}
.response-header {
    align-items: center;
    justify-content: space-between;
}
mat-list-item {
    width: 20rem;
}
.query-resume{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.description {
    font-size: 0.8rem;
}
@media (max-width: 820px) {
    .response {
        flex-direction: column;
        gap: 0.5rem;
    }
    .select-wrapper {
        flex-direction: column;
    }
}
.hide {
    height: 0;
    opacity: 0;
}
.response-header-wrapper {
    align-items: center;
    justify-content: space-between;
    
    h6 {
        margin: 0;
    }
}



