.action-buttons {
    padding: 0 2rem;
    margin: 1rem 0;
    button {
      margin-left: 1rem;
    }
}
.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
mat-form-field {
  display: block;
}